
header{
    text-align: center;
    color: brown;
    background-color: burlywood;
    padding: 75px;
}

aside{
   
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70%;
    margin-top: 250px;  
    flex-direction: column;
}
.contenedor{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}
footer{
    background-color:aquamarine;
}